:root{
   --secondary-green: #30CE24;
   --secondary-green-light: #D4FFCC;
   --black-text: #3B423A;
   --yellow-text: #FFF500;
   --primary-green: #1C7715;
}

.login-label{
   color: var(--secondary-green);
}

.link-reset{
   &:hover{
      color: var(--secondary-green);
   
}

.login-test {
   font-size: 5rem;
}

.over {
    position: absolute;
    z-index: 2;

    height: 100vh;
    width: 100vw;
    background-image: image("../img/photos/unsplash-1.jpg");
}

.card {
    z-index: 3
    
}

/* body{
    background-image: image("../img/photos/unsplash-1.jpg");
} */